section.calculator
	.container
		.calculator-content
			.calculator-img
				.calculator-img-materials
					#material-1.material-img
					#material-2.material-img
					#material-3.material-img
					#material-4.material-img
					#material-5.material-img
					#material-6.material-img
					#material-7.material-img
					#material-8.material-img
				.calculato-img-frame
					.frame-1__img
					.frame-2__img

			.calculator-selector
				form.calculator-form


					p.calculator-materials
						label.calculator-check
							input.calculator-materials-item.materal-1(
							type="radio",
							name="material",
							value="1",
							required)
							| Имя маретриала
							span.check__box

						label.calculator-check
							input.calculator-materials-item.materal-2(
							type="radio",
							name="material",
							value="2",
							required)
							| Имя маретриала
							span.check__box

						label.calculator-check
							input.calculator-materials-item.materal-3(
							type="radio",
							name="material",
							value="3",
							required)
							| Имя маретриала
							span.check__box

						label.calculator-check
							input.calculator-materials-item.materal-4(
							type="radio",
							name="material",
							value="4",
							required)
							| Имя маретриала
							span.check__box

						label.calculator-check
							input.calculator-materials-item.materal-5(
							type="radio",
							name="material",
							value="5",
							required)
							| Имя маретриала
							span.check__box

						label.calculator-check
							input.calculator-materials-item.materal-6(
							type="radio",
							name="material",
							value="6",
							required)
							| Имя маретриала
							span.check__box

						label.calculator-check
							input.calculator-materials-item.materal-7(
							type="radio",
							name="material",
							value="7",
							required)
							| Имя маретриала
							span.check__box

						label.calculator-check
							input.calculator-materials-item.materal-8(
							type="radio",
							name="material",
							value="8",
							required)
							| Имя маретриала
							span.check__box



					p.calculator-frame
						label.calculator-check(for="")
							input.calculator-frame__item.frame-1(
							type="radio",
							name="frame",
							required)
						label.calculator-check(for="")
							input.calculator-frame__item.frame-2(
							type="radio",
							name="frame",
							required)



					p.calcualtor-table-sizes
						label.calculator-check(for="")
							input.calculator-size__item.size-1(type="radio", name="size")
							span.check__box
						label.calculator-check(for="")
							input.calculator-size__item.size-2(type="radio", name="size")
							span.check__box
						label.calculator-check(for="")
							input.calculator-size__item.size-3(type="radio", name="size")
							span.check__box
						label.calculator-check(for="")
							input.calculator-size__item.size-4(type="radio", name="size")
							span.check__box


					p.calculator-cost
						span.calculator-cost__info
						button.btn.calculator-submit Закзаать