section.calculator
	.container
		.calculator-content
			.calculator-img
				.calculator-img-frame
					#frame-1.frame-img
					#frame-2.frame-img
				.calculator-img-materials
					#material-1.material-img
					#material-2.material-img
					#material-3.material-img
					#material-4.material-img
					#material-5.material-img
					#material-6.material-img
					#material-7.material-img
					#material-8.material-img

			.calculator-controls
				iframe(
					id='hidden-iframe',
					name="hidden-iframe",
					style="display:none"
					onload="if(costSubmitted){window.location='https://vk.com';}")

				form.calculator-form(
					action='https://docs.google.com/forms/u/0/d/e/1FAIpQLSc9KCxTnYm1cmeCFQ3FRL9KPFq-WjmWf8vGzswMZaaHjspeYQ/formResponse',
					method='POST',
					target='hidden-iframe',
					onsubmit='costSubmitted=true;'
				)

					.calculator-height.calculator-controller
						h3.calculator-field-name Толщина, мм
						.calculator-height
							label.calculator-check(for="height-label--1")
								input.calculator-height-item.height-1(
								checked,
								name="height",
								id="height-label--1"
								type="radio",
								value="18",
								required)
								| 18
								span.check__box

							label.calculator-check(for="height-label--2")
								input.calculator-height-item.height-1(
								checked,
								name="height",
								id="height-label--2"
								type="radio",
								value="36",
								required)
								| 36
								span.check__box

							label.calculator-check(for="height-label--3")
								input.calculator-height-item.height-1(
								checked,
								name="height",
								id="height-label--3"
								type="radio",
								value="Без столешницы",
								required)
								| Без столешницы
								span.check__box


					.calculator-width.calculator-controller
						h3.calculator-field-name Ширина, мм
						.calculator-width-inner
							label.calculator-check(for="width-label--1")
								input.calculator-width-item.width-1(
								checked,
								name="width",
								id="width-label--1"
								type="radio",
								value="750",
								required)
								| 750
								span.check__box
							label.calculator-check(for="width-label--2")
								input.calculator-width-item.width-1(
								checked,
								name="width",
								id="width-label--2"
								type="radio",
								value="18",
								required)
								| 800
								span.check__box
							label.calculator-check(for="width-label--3")
								input.calculator-width-item.width-1(
								checked,
								name="width",
								id="width-label--3"
								type="radio",
								value="850",
								required)
								| 850
								span.check__box
							label.calculator-check(for="width-label--4")
								input.calculator-width-item.width-1(
								checked,
								name="width",
								id="width-label--4"
								type="radio",
								value="900",
								required)
								| 900
								span.check__box



					.calculator-length.calculator-controller
						h3.calculator-field-name Длина, мм
						.calculator-length-inner
							label.calculator-check(for="length-label--1")
								input.calculator-length-item.length-1(
								checked,
								name="length",
								id="length-label--1"
								type="radio",
								value="1200",
								required)
								| 1200
							label.calculator-check(for="length-label--2")
								input.calculator-length-item.length-1(
								checked,
								name="length",
								id="length-label--2"
								type="radio",
								value="1500",
								required)
								| 1500
							label.calculator-check(for="length-label--3")
								input.calculator-length-item.length-1(
								checked,
								name="length",
								id="length-label--3"
								type="radio",
								value="1700",
								required)
								| 1700
							label.calculator-check(for="length-label--4")
								input.calculator-length-item.length-1(
								checked,
								name="length",
								id="length-label--4"
								type="radio",
								value="2000",
								required)
								| 2000




					.calculator-corners.calculator-controller
						h3.calculator-field-name Скруглять углы?
						.calculator-corners-inner
							label.calculator-check(for="corners-label--1")
								input.calculator-corners-item.corners-1(
								checked,
								name="corners",
								id="corners-label--1",
								type="radio",
								value="Да",
								required)
								| Да
							label.calculator-check(for="corners-label--2")
								input.calculator-corners-item.corners-1(
								checked,
								name="corners",
								id="corners-label--2",
								type="radio",
								value="Нет",
								required)
								| Нет



					.calculator-frame.calculator-controller
						h3.calculator-field-name Цвет механизма
						.calculator-frame-inner
							label.calculator-check(for="frame-label--1")
								input.calculator-frame-item.frame-1(
								checked,
								name="entry.674285196",
								id="frame-label--1",
								type="radio",
								value="1",
								required)
								| Черный
								span.check__box

							label.calculator-check(for="frame-label--2")
								input.calculator-frame-item.frame-2(
								name="entry.674285196",
								id="frame-label--2",
								type="radio",
								value="2",
								required)
								| Белый
								span.check__box



					.calculator-materials.calculator-controller
						h3.calculator-field-name Цвет столешницы
						label.calculator-check(for="material-label--1")
							input.calculator-materials-item.materal-1(
							checked,
							name="entry.1772279993",
							id="material-label--1"
							type="radio",
							value="1",
							required)
							| Белый снег
							span.check__box

						label.calculator-check(for="material-label--2")
							input.calculator-materials-item.materal-2(
							name="entry.1772279993",
							id="material-label--2"
							type="radio",
							value="2",
							required)
							| Северное дерево светлое
							span.check__box

						label.calculator-check(for="material-label--3")
							input.calculator-materials-item.materal-3(
							name="entry.1772279993",
							id="material-label--3"
							type="radio",
							value="3",
							required)
							| Серый камень
							span.check__box

						label.calculator-check(for="material-label--4")
							input.calculator-materials-item.materal-4(
							name="entry.1772279993",
							id="material-label--4"
							type="radio",
							value="4",
							required)
							| Дуб молочный
							span.check__box

						label.calculator-check(for="material-label--5")
							input.calculator-materials-item.materal-5(
							name="entry.1772279993",
							id="material-label--5"
							type="radio",
							value="5",
							required)
							| Дуб сонома
							span.check__box

						label.calculator-check(for="material-label--6")
							input.calculator-materials-item.materal-6(
							name="entry.1772279993",
							id="material-label--6"
							type="radio",
							value="6",
							required)
							| Бук бавария
							span.check__box

						label.calculator-check(for="material-label--7")
							input.calculator-materials-item.materal-7(
							name="entry.1772279993",
							id="material-label--7"
							type="radio",
							value="7",
							required)
							| Венге магия
							span.check__box

						label.calculator-check(for="material-label--8")
							input.calculator-materials-item.materal-8(
							name="entry.1772279993",
							id="material-label--8"
							type="radio",
							value="8",
							required)
							| Черный
							span.check__box






					//- .calcualtor-table-sizes
					//- 	label.calculator-check
					//- 		input.calculator-size-item.size-1#size-1(
					//- 		checked,
					//- 		name="entry.756698818",
					//- 		type="radio",
					//- 		value="1")
					//- 		| 100x100
					//- 		span.check__box
					//- 	label.calculator-check
					//- 		input.calculator-size-item.size-2#size-2(
					//- 		name="entry.756698818",
					//- 		type="radio",
					//- 		value="2")
					//- 		| 200x200
					//- 		span.check__box
					//- 	label.calculator-check
					//- 		input.calculator-size-item.size-3#size-3(
					//- 		name="entry.756698818",
					//- 		type="radio",
					//- 		value="3")
					//- 		| 300x300
					//- 		span.check__box
					//- 	label.calculator-check
					//- 		input.calculator-size-item.size-4#size-4(
					//- 		name="entry.756698818",
					//- 		type="radio",
					//- 		value="4")
					//- 		| 400x400
					//- 		span.check__box


					.calculator-phone-pop
						input(
							name="entry.875101439",
							type="tel",
							required)#phone-id
					.calculator-cost Ваша цена
						input(
							name="entry.1706720507"
							type="text"
							disabled
							value="111").calculator-cost__info
						button.btn.calculator-submit(type="submit") Заказать