section.calculator
	.container
		.calculator-content
			.calculator-img
				.calculator-img-frame
					#frame-1.frame-img
					#frame-2.frame-img
				.calculator-img-materials
					#material-1.material-img
					#material-2.material-img
					#material-3.material-img
					#material-4.material-img
					#material-5.material-img
					#material-6.material-img
					#material-7.material-img
					#material-8.material-img

			.calculator-controls
				//- iframe(
					id='hidden-iframe',
					name="hidden-iframe",
					style="display:none"
					onload="if(costSubmitted){window.location='https://vk.com';}")

				form.calculator-form(
					action='https://docs.google.com/forms/u/0/d/e/1FAIpQLSc9KCxTnYm1cmeCFQ3FRL9KPFq-WjmWf8vGzswMZaaHjspeYQ/formResponse',
					method='POST',
					target='hidden-iframe',
					onsubmit='costSubmitted=true;'
				)

					.calculator-height.calculator-controller
						h3.calculator-field-name Толщина, мм
						.calculator-inner
							.height-container-1
								input.calculator-height-item.height-1(
								name="height",
								id="height-label--1"
								type="radio",
								data-height="1",
								value="18",
								required)
								label.calculator-check.height-label.height-label--1(for="height-label--1") 18
								//- span.check__box-name 18
								//- span.check__box

							.height-container-2
								input.calculator-height-item.height-2(
								name="height",
								id="height-label--2"
								type="radio",
								data-height="2",
								value="36",
								required)
								label.calculator-check.height-label.height-label--2(for="height-label--2") 36

							.height-container-3
								input.calculator-height-item.height-3(
								checked,
								name="height",
								id="height-label--3"
								type="radio",
								data-height="3",
								value="Без столешницы",
								required)
								label.calculator-check.height-label.height-label--3(for="height-label--3") Без столешницы



					.calculator-width.calculator-controller
						h3.calculator-field-name Ширина, мм
						.calculator-inner
							.width-container-1
								input.calculator-width-item.width-1(
								checked,
								name="width",
								id="width-label--1"
								type="radio",
								value="750",
								required)
								label.calculator-check.width-label.width-label--1(for="width-label--1") 750

							.width-container-2
								input.calculator-width-item.width-2(
								checked,
								name="width",
								id="width-label--2"
								type="radio",
								value="800",
								required)
								label.calculator-check.width-label.width-label--2(for="width-label--2") 800

							.width-container-3
								input.calculator-width-item.width-3(
								checked,
								name="width",
								id="width-label--3"
								type="radio",
								value="850",
								required)
								label.calculator-check.width-label.width-label--3(for="width-label--3") 850

							.width-container-4
								input.calculator-width-item.width-4(
								checked,
								name="width",
								id="width-label--4"
								type="radio",
								value="900",
								required)
								label.calculator-check.width-label.width-label--4(for="width-label--4") 900




					.calculator-length.calculator-controller
						h3.calculator-field-name Длина, мм
						.calculator-inner

							.label-container-1
								input.calculator-length-item.length-1(
								checked,
								name="length",
								id="length-label--1"
								type="radio",
								value="1200",
								required)
								label.calculator-check.length-label.length-label--1(for="length-label--1") 1200

							.label-container-2
								input.calculator-length-item.length-2(
								checked,
								name="length",
								id="length-label--2"
								type="radio",
								value="1500",
								required)
								label.calculator-check.length-label.length-label--2(for="length-label--2") 1500

							.label-container-3
								input.calculator-length-item.length-3(
								checked,
								name="length",
								id="length-label--3"
								type="radio",
								value="1700",
								required)
								label.calculator-check.length-label.length-label--3(for="length-label--3") 1700

							.label-container-4
								input.calculator-length-item.length-4(
								checked,
								name="length",
								id="length-label--4"
								type="radio",
								value="2000",
								required)
								label.calculator-check.length-label.length-label--4(for="length-label--4") 2000





					.calculator-corners.calculator-controller
						h3.calculator-field-name Скруглять углы?
						.calculator-inner
							.corners-container-1
								input.calculator-corners-item.corners-1(
								checked,
								name="corners",
								id="corners-label--1",
								type="radio",
								value="Да",
								required)
								label.calculator-check.corners-label.corners-label--1(for="corners-label--1") Да

							.corners-container-2
								input.calculator-corners-item.corners-2(
								checked,
								name="corners",
								id="corners-label--2",
								type="radio",
								value="Нет",
								required)
								label.calculator-check.corners-label.corners-label--2(for="corners-label--2") Нет




					.calculator-frame.calculator-controller
						h3.calculator-field-name Цвет механизма
						.calculator-inner
							.frame-container-1
								input.calculator-frame-item.frame-1(
								checked,
								name="entry.674285196",
								id="frame-label--1",
								type="radio",
								value="Белый",
								data-frame="1",
								required)
								label.calculator-check.frame-label.frame-label--1(for="frame-label--1") Белый

							.frame-container-2
								input.calculator-frame-item.frame-2(
								name="entry.674285196",
								id="frame-label--2",
								type="radio",
								value="Черный",
								data-frame="2",
								required)
								label.calculator-check.frame-label.frame-label--2(for="frame-label--2") Черный



					.calculator-materials.calculator-controller
						h3.calculator-field-name Цвет столешницы
						.calculator-inner
							.materials-container-1
								input.calculator-materials-item.materal-1(
								checked,
								name="entry.1772279993",
								id="material-label--1"
								type="radio",
								value="1",
								data-material="1",
								required)
								label.calculator-check.materials-label.materials-label--1(for="material-label--1") Белый снег

							.materials-container-2
								input.calculator-materials-item.materal-2(
								name="entry.1772279993",
								id="material-label--2"
								type="radio",
								value="2",
								data-material="2",
								required)
								label.calculator-check.materials-label.materials-label--2(for="material-label--2") Северное дерево светлое

							.materials-container-3
								input.calculator-materials-item.materal-3(
								name="entry.1772279993",
								id="material-label--3"
								type="radio",
								value="3",
								data-material="3",
								required)
								label.calculator-check.materials-label.materials-label--3(for="material-label--3") Серый камень

							.materials-container-4
								input.calculator-materials-item.materal-4(
								name="entry.1772279993",
								id="material-label--4"
								type="radio",
								value="4",
								data-material="4",
								required)
								label.calculator-check.materials-label.materials-label--4(for="material-label--4") Дуб<br>молочный


							.materials-container-5
								input.calculator-materials-item.materal-5(
								name="entry.1772279993",
								id="material-label--5"
								type="radio",
								value="5",
								data-material="5",
								required)
								label.calculator-check.materials-label.materials-label--5(for="material-label--5") Дуб сонома

							.materials-container-6
								input.calculator-materials-item.materal-6(
								name="entry.1772279993",
								id="material-label--6"
								type="radio",
								value="6",
								data-material="6",
								required)
								label.calculator-check.materials-label.materials-label--6(for="material-label--6") Бук бавария

							.materials-container-7
								input.calculator-materials-item.materal-7(
								name="entry.1772279993",
								id="material-label--7"
								type="radio",
								value="7",
								data-material="7",
								required)
								label.calculator-check.materials-label.materials-label--7(for="material-label--7") Венге магия

							.materials-container-8
								input.calculator-materials-item.materal-8(
								name="entry.1772279993",
								id="material-label--8"
								type="radio",
								value="8",
								data-material="8",
								required)
								label.calculator-check.materials-label.materials-label--8(for="material-label--8") Черный






					//- .calcualtor-table-sizes
					//- 	label.calculator-check
					//- 		input.calculator-size-item.size-1#size-1(
					//- 		checked,
					//- 		name="entry.756698818",
					//- 		type="radio",
					//- 		value="1")
					//- 		| 100x100
					//- 		span.check__box
					//- 	label.calculator-check
					//- 		input.calculator-size-item.size-2#size-2(
					//- 		name="entry.756698818",
					//- 		type="radio",
					//- 		value="2")
					//- 		| 200x200
					//- 		span.check__box
					//- 	label.calculator-check
					//- 		input.calculator-size-item.size-3#size-3(
					//- 		name="entry.756698818",
					//- 		type="radio",
					//- 		value="3")
					//- 		| 300x300
					//- 		span.check__box
					//- 	label.calculator-check
					//- 		input.calculator-size-item.size-4#size-4(
					//- 		name="entry.756698818",
					//- 		type="radio",
					//- 		value="4")
					//- 		| 400x400
					//- 		span.check__box


					.calculator-phone-pop
						input(
							name="entry.875101439",
							type="tel",
							required)#phone-id
					.calculator-cost Ваша цена
						input(
							name="entry.1706720507"
							type="text"
							disabled
							value="111").calculator-cost__info
						button.btn.calculator-submit(type="submit") Заказать