section.form
	.container
		.form-content
			.form-text
				h2.section-title.form-title Если нет нужного цвета и формы столешницы, то оставьте заявку на индивидуальный заказ.
				p.form-title__descr Мы с удовольствием сделаем то, что вам нужно.
			form(action="static/php/form.php")
				input(
					type="text"
					name="name"
					id="name"
					placeholder="Имя"
					required)
				input(
					type="tel"
					name="tel"
					id="phone"
					placeholder="Номер телефона"
					autocorrect="off"
					autocomplete="tel"
					required)
				input.btn.form-btn(
					type="submit"
					value="Отправить")