section.form
	.container
		.form-content
			.form-text
				h2.section-title.form-title Если нет нужного цвета и формы столешницы, то оставьте заявку на индивидуальный заказ.
				p.form-title__descr Мы с удовольствием сделаем то, что вам нужно.
			form(action="")
				input(
					type="text"
					name="a"
					id="name"
					placeholder="Имя"
					required)
				input(
					type="tel"
					name="b"
					id="phone"
					placeholder="Номер телефона"
					required)
				input.btn(
					type="submit"
					value="Отправить")