header.header
	.container
		.header-content
			img.logo(src="", alt="")
			.header-right
				button.btn-secondary.callback-btn Перезвоните мне
				.header-phones
					a(href="tel:+375291907502") +375 29 190 75 02
					a(href="tel:+375296324077") +375 29 632 40 77
				.burger
					span
					span
					span

.callback-form-wrap
	form.callback-form(
		action=""
	)
		span.close-phone-pop X
		p.callback-message.note Оставьте свой телефон и мы перезвоним вам
		input(
			name="tel",
			type="tel",
			placeholder="Телефон"
			autocorrect="off"
			autocomplete="tel"
			required
		).callback-phone-field
		input(type="submit" value="Отправить").callback-send.btn


.burger-inner-wrap
	.burger-inner
		a(href="#who").burger-link Для кого этот стол
		a(href="#stats").burger-link Характеристики и детали фрейма
		a(href="#only-frame").burger-link Заказать только фрейм
		a(href="#trinkets").burger-link Аксесуары
		a(href="#calculator").burger-link Подобрать стол
		a(href="#reviews").burger-link Отзывы
		a(href="#faq").last-.burger-link Вопрос-ответ

		button.btn-secondary.burger-btn.callback-btn Перезвоните мне


section.hero
	video(loop autoplay).hero__video
		source(src="static/hero.mp4")
	.container
		.hero-content
			h1#staticText Столы с регулируемой высотой для работы <span id="typeline">стоя|</span>
			p.header-descriptor Повышает эффективность работы на 20% и избавляет от боли в пояснице.
			a(href="#calcualtor").btn.cta Подобрать стол

section.hero-bullets
	.container
		.hero-bullets-content
			+bullet('1-hero/1', 'Гарантия 2 года')
			+bullet('1-hero/2', 'Бесплатная доставка и сборка по Минску/Минскому району в течение 3 дней')
			+bullet('1-hero/4', 'Столешницы из ЛДСП любого цвета')
			+bullet('1-hero/3', 'Безопасный и простой механизм,  с которым справится даже ребенок')
