mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="static/img/svg/symbol/sprite.svg#" + name)


mixin bullet(path, text)
	.bullet(
		data-aos="fade-up"
		data-aos-duration="500"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false")
		img(src="static/img/content/"+path+'.png').bullet__icon
		p.bullet__text= text

mixin stat(path, text)
	.stat
		img(src="static/img/content/7-features/"+path+'.jpg').stat__pic
		p.stat__text= text

mixin trinket(trinketNumber, img, title, descr, cost, feature1, feature2, feature3)
	.trinket-item
		img(src="static/img/content/10-trinkets/"+img+".jpg", alt= title)
		h3.trinket-title= title
		p.trinket-descr= descr
		p.trinket-feature= feature1
		p.trinket-feature= feature2
		p.trinket-feature= feature3
		button.trinket-btn.btn-secondary(
			data-trinket-cost= trinketNumber
			data-trinket= title) Цена #{cost} руб.